@import '~assets/css/global.scss';

.ProgressBar {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	width: 100%;
	background-color: $mint-40;
	height: 10px;
	overflow: auto;

	> .progress {
		height: 10px;
		background-color: $mint;
	}
}
