@import '~assets/css/global.scss';

.Bubble {
	display: flex;
	align-items: center;
	position: absolute;
	top: -45;
	left: 0;
	background-color: $ocean-40;
	border-color: $ocean-40;
	width: 300px;
	height: 30px;
	border-radius: 4px;
	color: $ocean-80;
	font-size: 12px;
	padding: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

	&::after {
		content: '';
		position: absolute;
		top: 100%;
		right: 20px;
		border-top: 10px solid black;
		border-top-color: inherit;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}
}
