// Poppins Font - font-family: 'Poppins', sans-serif;
// IBM Plex Sans Font - font-family: 'IBM Plex Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Poppins:wght@700&display=swap');
@import '~assets/css/global.scss';

// CSS RESET
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
form,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html,
body {
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.6;
	color: #333333;
	background-color: $slate-20;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button:focus {
	outline: none;
}

input:invalid,
textarea:invalid {
	box-shadow: none;
}

button::-moz-focus-inner {
	border: 0;
}
// CSS RESET END

html,
body {
	height: 100%;
	font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif;
	line-height: 1;
}

button,
p {
	font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
}

input {
	text-align: left;
	border: none;
	transition: all 0.3s ease 0s;
	width: 100%;
	height: 32px;
	background-color: #fff;
	border: 2px solid #333;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;

	&:focus {
		outline: none;
	}
}

.App {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: $slate-20;

	> .Page {
		flex: 1;
	}
}
