@import '~assets/css/global.scss';

.Home {
	> .details {
		margin-top: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		padding: 10px;
		font-weight: 700;

		> a {
			margin-left: 5px;
			color: $mint;
		}
	}
}
