@import '~assets/css/global.scss';

.Donation {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 300px;
	min-height: 220px;
	background-color: $white;
	padding: 20px;
	padding-top: 35px;
	border-radius: 6px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

	.monetary-value {
		display: flex;
		align-items: flex-start;
		font-weight: 700;
		margin-right: 3px;

		> .dollar-symbol {
			display: absolute;
			font-size: 8px;
			top: 0;
			left: 0;
		}
	}

	> h1 {
		font-size: 18px;
		line-height: 1.4;
	}

	> p {
		font-size: 12px;
		line-height: 1.2;
		color: $slate-80;

		> b {
			font-weight: 700;
			color: $slate-120;
		}
	}

	> form {
		display: flex;
		align-items: center;
		position: relative;

		> label {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}

		> input {
			border: 1px solid $slate-40;
			border-radius: 4px;
			padding-left: 20px;
			padding-right: 80px;
			font-weight: 700;
			height: 40px;
		}

		> .icon {
			position: absolute;
			left: 10;
			color: $slate-60;
			z-index: 10;
			font-size: 14px;
		}

		> button {
			position: absolute;
			right: 0;
			background-color: $mint;
			color: $white;
			border: none;
			border-radius: 0px;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			height: 40px;
			font-weight: 700;
			cursor: pointer;
		}
	}

	> .message {
		position: absolute;
		bottom: 10;
		font-size: 10px;
		font-weight: 700;

		&.-error {
			color: $strawberry;
		}

		&.-success {
			color: $mint;
		}
	}
}
